Repository hairyhenderson/gomplate, pull requests merged in 2018-02, with the labels that each got.

#248 Add AWS SSM Parameter support
  Gopkg.lock
  aws/ec2info.go
  data/datasource.go
  data/datasource_awssmp.go
  data/datasource_awssmp_test.go
  data/datasource_test.go
  docs/content/functions/data.md
  funcs/aws.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/json/jsonutil/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/json/jsonutil/unmarshal.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/jsonrpc/jsonrpc.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ssm/service.go
Labels: enhancement

#251 Allow vault address to be specified in the vault:// URL
  data/datasource.go
  docs/content/functions/data.md
  libkv/consul.go
  test/integration/Dockerfile
  test/integration/datasources_consul.bats
  test/integration/datasources_vault.bats
  test/integration/helper.bash
  test/integration/mirrorsvc/main.go
  test/integration/test.sh
  vault/vault.go
  vault/vault_test.go
Labels: enhancement

#253 new logo
  Makefile
  README.md
  docs/config.toml
  docs/content/_index.md
  docs/content/installing.md
  docs/content/usage.md
  docs/layouts/shortcodes/year.html
  docs/static/favicon.ico
  docs/static/images/gomplate-icon.png
  docs/static/images/gomplate-icon.svg
  docs/static/images/gomplate.png
  docs/static/images/gomplate.svg
  docs/static/stylesheets/custom-palettes.css
Labels: documentation

#256 Making the DockerHub builds a little more verbose...
  hooks/build
  hooks/post_push
Labels: admin

#260 Attempting to fix intermittent Integration Test failure
  test/integration/awssvc/main.go
  test/integration/helper.bash
  test/integration/metasvc/main.go
  test/integration/mirrorsvc/main.go
Labels: bug

#259 Use lzma compression with UPX
  Makefile
Labels: admin

#261 Rebasing Docker images on `scratch` instead of alpine
  Dockerfile
Labels: cleanup

#262 Generating changelog in container
  Makefile
Labels: admin

#263 Refactoring the Makefile
  Makefile
  test/integration/helper.bash
Labels: admin, cleanup

#257 Dockerizing the build-release target
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  hooks/build
  hooks/post_push
Labels: admin, cleanup
