Repository hairyhenderson/gomplate, pull requests merged in 2018-03, with the labels that each got.

#268 strings.Indent should not indent when width is 0
  strings/strings.go
  strings/strings_test.go
Labels: bug

#270 Adding file namespace
  docs/content/functions/file.md
  file/file.go
  file/file_test.go
  funcs.go
  funcs/file.go
  funcs/file_test.go
  test/integration/file_test.go
Labels: api/minor

#271 Adding sockaddr namespace
  Gopkg.lock
  Gopkg.toml
  docs/content/functions/sockaddr.md
  funcs.go
  funcs/sockaddr.go
  test/integration/sockaddr_test.go
  vendor/github.com/hashicorp/go-sockaddr/LICENSE
  vendor/github.com/hashicorp/go-sockaddr/doc.go
  vendor/github.com/hashicorp/go-sockaddr/ifaddr.go
  vendor/github.com/hashicorp/go-sockaddr/ifaddrs.go
  vendor/github.com/hashicorp/go-sockaddr/ifattr.go
  vendor/github.com/hashicorp/go-sockaddr/ipaddr.go
  vendor/github.com/hashicorp/go-sockaddr/ipaddrs.go
  vendor/github.com/hashicorp/go-sockaddr/ipv4addr.go
  vendor/github.com/hashicorp/go-sockaddr/ipv6addr.go
  vendor/github.com/hashicorp/go-sockaddr/rfc.go
  vendor/github.com/hashicorp/go-sockaddr/route_info.go
  vendor/github.com/hashicorp/go-sockaddr/route_info_bsd.go
  vendor/github.com/hashicorp/go-sockaddr/route_info_default.go
  vendor/github.com/hashicorp/go-sockaddr/route_info_linux.go
  vendor/github.com/hashicorp/go-sockaddr/route_info_solaris.go
  vendor/github.com/hashicorp/go-sockaddr/route_info_windows.go
  vendor/github.com/hashicorp/go-sockaddr/sockaddr.go
  vendor/github.com/hashicorp/go-sockaddr/sockaddrs.go
  vendor/github.com/hashicorp/go-sockaddr/template/doc.go
  vendor/github.com/hashicorp/go-sockaddr/template/template.go
  vendor/github.com/hashicorp/go-sockaddr/unixsock.go
Labels: api/minor

#273 Update deps
  Gopkg.lock
  vendor/github.com/aws/aws-sdk-go/aws/client/default_retryer.go
  vendor/github.com/aws/aws-sdk-go/aws/config.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/handlers.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/user_agent.go
  vendor/github.com/aws/aws-sdk-go/aws/defaults/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/request/offset_reader.go
  vendor/github.com/aws/aws-sdk-go/aws/request/request.go
  vendor/github.com/aws/aws-sdk-go/aws/signer/v4/v4.go
  vendor/github.com/aws/aws-sdk-go/aws/types.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/internal/sdkio/io_go1.6.go
  vendor/github.com/aws/aws-sdk-go/internal/sdkio/io_go1.7.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/ec2query/build.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/query/build.go
  vendor/github.com/go-ini/ini/file.go
  vendor/github.com/go-ini/ini/ini.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_freebsd.go
  vendor/golang.org/x/sys/unix/syscall_linux_gccgo.go
  vendor/golang.org/x/sys/unix/syscall_netbsd.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/zerrors_dragonfly_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_dragonfly_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_freebsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_freebsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_freebsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_netbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_netbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_netbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_dragonfly_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_solaris_amd64.go
Labels: dependencies

#275 Add FOSSA license scan badge
  README.md
Labels: admin, documentation
