Repository hairyhenderson/gomplate, pull requests merged in 2018-11, with the labels that each got.

#420 Adding support for EJSON files
  Gopkg.lock
  data/data.go
  data/data_test.go
  docs/content/datasources.md
  docs/content/functions/data.md
  tests/integration/datasources_file_test.go
  vendor/github.com/Shopify/ejson/LICENSE.txt
  vendor/github.com/Shopify/ejson/crypto/boxed_message.go
  vendor/github.com/Shopify/ejson/crypto/crypto.go
  vendor/github.com/Shopify/ejson/ejson.go
  vendor/github.com/Shopify/ejson/json/key.go
  vendor/github.com/Shopify/ejson/json/pipeline.go
  vendor/github.com/Shopify/ejson/json/walker.go
  vendor/github.com/dustin/gojson/LICENSE
  vendor/github.com/dustin/gojson/decode.go
  vendor/github.com/dustin/gojson/encode.go
  vendor/github.com/dustin/gojson/fold.go
  vendor/github.com/dustin/gojson/indent.go
  vendor/github.com/dustin/gojson/scanner.go
  vendor/github.com/dustin/gojson/stream.go
  vendor/github.com/dustin/gojson/tags.go
  vendor/golang.org/x/crypto/curve25519/const_amd64.h
  vendor/golang.org/x/crypto/curve25519/const_amd64.s
  vendor/golang.org/x/crypto/curve25519/cswap_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/doc.go
  vendor/golang.org/x/crypto/curve25519/freeze_amd64.s
  vendor/golang.org/x/crypto/curve25519/ladderstep_amd64.s
  vendor/golang.org/x/crypto/curve25519/mont25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/mul_amd64.s
  vendor/golang.org/x/crypto/curve25519/square_amd64.s
  vendor/golang.org/x/crypto/internal/subtle/aliasing.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing_appengine.go
  vendor/golang.org/x/crypto/nacl/box/box.go
  vendor/golang.org/x/crypto/nacl/secretbox/secretbox.go
  vendor/golang.org/x/crypto/poly1305/poly1305.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_arm.go
  vendor/golang.org/x/crypto/poly1305/sum_arm.s
  vendor/golang.org/x/crypto/poly1305/sum_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_ref.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/poly1305/sum_vmsl_s390x.s
  vendor/golang.org/x/crypto/salsa20/salsa/hsalsa20.go
  vendor/golang.org/x/crypto/salsa20/salsa/salsa2020_amd64.s
  vendor/golang.org/x/crypto/salsa20/salsa/salsa208.go
  vendor/golang.org/x/crypto/salsa20/salsa/salsa20_amd64.go
  vendor/golang.org/x/crypto/salsa20/salsa/salsa20_ref.go
Labels: enhancement

#415 Remove CMD --help -> make call without args easy
  Dockerfile
Labels: usability

#422 New tpl function
  docs-src/content/functions/other.yml
  docs/content/functions/other.md
  gomplate.go
  template.go
  tests/integration/tpl_test.go
  tpl_func.go
  tpl_func_test.go
Labels: new function

#424 New --context flag for pre-loading datasources into context
  cmd/gomplate/main.go
  context.go
  context_test.go
  data/datasource.go
  docs/content/datasources.md
  docs/content/syntax.md
  docs/content/usage.md
  gomplate.go
  tests/integration/datasources_file_test.go
Labels: api/minor, enhancement

#434 New test.Ternary function
  docs-src/content/functions/test.yml
  docs/content/functions/test.md
  funcs/test.go
  funcs/test_test.go
Labels: review

#435 Adding quote and squote functions
  docs-src/content/functions/strings.yml
  docs/content/functions/strings.md
  funcs/strings.go
  funcs/strings_test.go
Labels: api/minor, new function, review

#438 Adding more regexp functions
  docs-src/content/functions/regexp.yml
  docs/content/functions/regexp.md
  funcs/regexp.go
  funcs/regexp_test.go
  regexp/regexp.go
  regexp/regexp_test.go
Labels: api/minor, new function, review

#439 Adding option to suppress empty output files
  docs/content/usage.md
  template.go
  template_test.go
  tests/integration/basic_test.go
Labels: review
