Repository hairyhenderson/gomplate, pull requests merged in 2018-09, with the labels that each got.

#391 thicken font on gomplate logo
  docs/static/images/gomplate-icon.png
  docs/static/images/gomplate-icon.svg
  docs/static/images/gomplate.png
  docs/static/images/gomplate.svg
Labels: documentation, review

#393 Adding dict/conv.Dict function
  conv/conv.go
  conv/conv_test.go
  docs-src/content/functions/conv.yml
  docs/content/functions/conv.md
  funcs/conv.go
  tests/integration/typeconv_test.go
Labels: api/minor, new function, review

#394 Adding more syntax docs
  docs/content/syntax.md
  docs/content/usage.md
Labels: documentation, review

#396 Improve docs for conv namespace
  docs-src/content/functions/conv.yml
  docs-src/content/functions/func_doc.md.tmpl
  docs/content/functions/conv.md
Labels: documentation, review

#401 Silencing defineDatasource function
  data/datasource.go
  data/datasource_test.go
  tests/integration/datasources_file_test.go
Labels: bug, review

#403 new arg --templates for parsing additional templates
  cmd/gomplate/main.go
  gomplate.go
  template.go
  template_test.go
Labels: in progress

#380 Return error instead of using log.Fatal
  aws/ec2info.go
  aws/ec2info_test.go
  aws/ec2meta.go
  aws/ec2meta_test.go
  aws/testutils.go
  base64/base64.go
  base64/base64_test.go
  cmd/gomplate/main.go
  conv/conv.go
  conv/conv_test.go
  crypto/pbkdf2.go
  data/data.go
  data/data_test.go
  data/datasource.go
  data/datasource_awssmp.go
  data/datasource_test.go
  data/datasource_vault.go
  file/file.go
  funcs/aws.go
  funcs/aws_test.go
  funcs/base64.go
  funcs/base64_test.go
  funcs/conv.go
  funcs/data.go
  funcs/doc.go
  funcs/net.go
  funcs/net_test.go
  funcs/strings.go
  funcs/strings_test.go
  libkv/boltdb.go
  libkv/boltdb_test.go
  libkv/consul.go
  libkv/consul_test.go
  libkv/libkv.go
  libkv/libkv_test.go
  net/net.go
  net/net_test.go
  tests/integration/test_ec2_utils.go
  vault/auth.go
  vault/auth_test.go
  vault/vault.go
  vault/vault_test.go
Labels: api/major, cleanup, review
