Repository hairyhenderson/gomplate, pull requests merged in 2019-03, with the labels that each got.

#507 Getting _some_ integration tests running in appveyor
  appveyor.yml
  data/datasource.go
  data/datasource_env_test.go
  data/datasource_test.go
  tests/integration/base64_test.go
  tests/integration/collection_test.go
  tests/integration/datasources_env_test.go
  tests/integration/datasources_file_test.go
  tests/integration/envvars_test.go
  tests/integration/integration_test.go
  tests/integration/math_test.go
  tests/integration/net_test.go
  tests/integration/regexp_test.go
  tests/integration/sockaddr_test.go
  tests/integration/strings_test.go
  tests/integration/test_test.go
  tests/integration/tmpl_test.go
  tests/integration/typeconv_test.go
Labels: review

#508 Replacing uses of blang/vfs with spf13/afero
  Gopkg.lock
  data/datasource.go
  data/datasource_file.go
  data/datasource_file_test.go
  data/datasource_merge_test.go
  data/datasource_test.go
  env/env.go
  env/env_test.go
  vault/auth.go
  vendor/github.com/blang/vfs/LICENSE
  vendor/github.com/blang/vfs/doc.go
  vendor/github.com/blang/vfs/dummy.go
  vendor/github.com/blang/vfs/filesystem.go
  vendor/github.com/blang/vfs/ioutil.go
  vendor/github.com/blang/vfs/memfs/buffer.go
  vendor/github.com/blang/vfs/memfs/doc.go
  vendor/github.com/blang/vfs/memfs/memfile.go
  vendor/github.com/blang/vfs/memfs/memfs.go
  vendor/github.com/blang/vfs/os.go
  vendor/github.com/blang/vfs/path.go
  vendor/github.com/blang/vfs/readonly.go
Labels: dependencies, review

#510 Fix .env file parsing so merging works properly
  data/data.go
  data/data_test.go
  tests/integration/datasources_merge_test.go
Labels: review

#513 file.Write should truncate existing files
  file/file.go
  file/file_test.go
Labels: bug, review

#516 New random namespace for generating random strings and numbers
  docs-src/content/functions/random.yml
  docs/content/functions/random.md
  funcs.go
  funcs/random.go
  funcs/random_test.go
  random/random.go
  random/random_test.go
Labels: api/minor, new function, review

#518 Adding strings.RuneCount function
  docs-src/content/functions/strings.yml
  docs/content/functions/strings.md
  funcs/strings.go
  funcs/strings_test.go
Labels: api/minor, new function

#496 Add functions for KMS operations
  Gopkg.lock
  aws/kms.go
  aws/kms_test.go
  funcs/aws.go
  vendor/github.com/aws/aws-sdk-go/service/kms/api.go
  vendor/github.com/aws/aws-sdk-go/service/kms/doc.go
  vendor/github.com/aws/aws-sdk-go/service/kms/errors.go
  vendor/github.com/aws/aws-sdk-go/service/kms/service.go
Labels: api/minor, new function

#521 gomplate can also be installed with npm
  docs/content/installing.md
Labels: distribution

#520 Adding docs for aws.KMSEncrypt and aws.KMSDecrypt
  docs-src/content/functions/aws.yml
  docs/content/functions/aws.md
Labels: documentation

#525 Fixing random test that fails rarely 🎲
  funcs/random_test.go
Labels: bug

#527 Some more Windows fixes
  Gopkg.lock
  Gopkg.toml
  Makefile
  appveyor.yml
  data/datasource.go
  data/datasource_awssmp_test.go
  data/datasource_env_test.go
  data/datasource_file_test.go
  data/datasource_merge_test.go
  data/datasource_test.go
  docs/content/usage.md
  template_test.go
  template_unix_test.go
  template_windows_test.go
  tests/integration/basic_nonwindows_test.go
  tests/integration/basic_test.go
  tests/integration/collection_test.go
  tests/integration/datasources_boltdb_test.go
  tests/integration/datasources_file_test.go
  tests/integration/datasources_http_test.go
  tests/integration/datasources_merge_test.go
  tests/integration/file_test.go
  tests/integration/gomplateignore_test.go
  tests/integration/inputdir_test.go
  tests/integration/time_test.go
  tests/integration/tmpl_test.go
  vendor/github.com/zealic/xignore/pattern.go
Labels: bug

#526 AWS STS functions
  aws/sts.go
  aws/sts_test.go
  aws/testutils.go
  docs-src/content/functions/aws.yml
  docs/content/functions/aws.md
  funcs/aws.go
Labels: api/minor, new function

#530 Refactor Config
  config.go
  config_test.go
  gomplate.go
  gomplate_test.go
  template.go
  template_test.go
Labels: cleanup
