Repository hairyhenderson/gomplate, pull requests merged in 2020-07, with the labels that each got.

#895 Update misleading 'go get' install instructions
  docs/content/installing.md
Labels: bug, documentation

#896 Some more install doc clarifications
  docs/content/installing.md
Labels: documentation

#891 Add gcp.Meta function, equivalent to aws.EC2Meta but for GCP
  docs-src/content/functions/gcp.yml
  docs/content/functions/gcp.md
  funcs.go
  funcs/gcp.go
  gcp/meta.go
Labels: new function

#900 Add test.Kind/kind and test.IsKind/isKind functions
  docs-src/content/functions/test.yml
  docs/content/functions/test.md
  funcs/test.go
  funcs/test_test.go
Labels: documentation, new function

#907 Document the --datasource-header flag
  docs/content/usage.md
Labels: documentation
