Repository hairyhenderson/gomplate, pull requests merged in 2021-09, with the labels that each got.

#1202 Typo in alias > simple quotes required
  docs/content/installing.md
Labels: documentation

#1204 Clarify install docs to use stable docker tags
  docs/content/installing.md
Labels: documentation

#1208 Update dependencies
  go.mod
  go.sum
Labels: dependencies

#1210 Fix CONSUL_HTTP_ADDR parsing
  libkv/consul.go
  libkv/consul_test.go
Labels: bug

#1213 Updating deps
  go.mod
  go.sum
Labels: dependencies

#1214 crypto.RSAGenerateKey - Enforce key length of at least 2048 bits
  crypto/rsa.go
  crypto/rsa_test.go
  docs-src/content/functions/crypto.yml
  docs/content/functions/crypto.md
  funcs/crypto_test.go
Labels: security, documentation

#1216 conv.ToInt: return -1 instead of overflowing on 32-bit systems
  conv/conv.go
  docs-src/content/functions/conv.yml
  docs/content/functions/conv.md
Labels: security, documentation

#1217 Support git repos with default branches other than "master"
  data/datasource_git.go
  data/datasource_git_test.go
  docs/content/datasources.md
  internal/tests/integration/datasources_git_test.go
Labels: bug, documentation

#1219 CI updates for Docker build
  .github/workflows/docker.yml
Labels: build

#1220 fix GHCR login
  .github/workflows/docker.yml
Labels: bug, build
