Repository hairyhenderson/gomplate, pull requests merged in 2022-06, with the labels that each got.

#1417 Mark new AES functions experimental
  docs-src/content/functions/crypto.yml
  docs/content/functions/crypto.md
  funcs/crypto.go
Labels: documentation

#1418 Support escaped slashes in JSON and YAML
  data/data_test.go
  go.mod
  go.sum
Labels: bug, dependencies

#1422 New experimental gomplate.Renderer API
  data/datasource.go
  docs/content/usage.md
  gomplate.go
  gomplate_test.go
  render.go
  render_test.go
  template.go
  template_test.go
  template_unix_test.go
  template_windows_test.go
Labels: documentation, experimental

#1430 Use temporary fork of gopkg.in/yaml.v3
  data/data.go
  go.mod
  go.sum
  internal/config/configfile.go
  internal/config/configfile_test.go
  internal/config/types.go
  internal/config/types_test.go
  libkv/consul.go
Labels: bug

#1397 Remove BoltDB support
  README.md
  data/datasource.go
  data/datasource_boltdb.go
  docs/content/_index.md
  docs/content/datasources.md
  go.mod
  go.sum
  internal/tests/integration/datasources_boltdb_test.go
  libkv/boltdb.go
  libkv/boltdb_test.go
Labels: api/major

#1433 Removing slim (UPX-compressed) binary/image support
  .github/workflows/docker.yml
  Dockerfile
  Makefile
  docs/content/installing.md
  hooks/build
  hooks/post_push
Labels: documentation, api/major, build

#1440 Added ppc64le support
  Makefile
Labels: build
