Repository hairyhenderson/gomplate, pull requests merged in 2022-05, with the labels that each got.

#1388 Add ECDSA generation functions to crypto funcs
  crypto/ecdsa.go
  crypto/ecdsa_test.go
  docs-src/content/functions/crypto.yml
  docs/content/functions/crypto.md
  funcs/crypto.go
  funcs/crypto_test.go
Labels: new function

#1342 Add Terraform CIDR based functions
  docs-src/content/functions/net.yml
  docs/content/functions/net.md
  funcs/net.go
  funcs/net_test.go
  go.mod
  go.sum
  internal/tests/integration/integration_test.go
  internal/tests/integration/net_test.go
Labels: documentation, dependencies, new function

#1410 Harmonize nested template and datasource config (map config, and URL support)
  config.go
  data/datasource.go
  docs/content/config.md
  docs/content/usage.md
  go.mod
  go.sum
  gomplate.go
  gomplate_test.go
  internal/cmd/config.go
  internal/cmd/main.go
  internal/config/configfile.go
  internal/config/configfile_test.go
  internal/config/types.go
  internal/config/types_test.go
  internal/tests/integration/nested_templates_test.go
  template.go
  template_test.go
  template_unix_test.go
  template_windows_test.go
Labels: dependencies

#1402 Add support for aws imdsv2
  aws/ec2info_test.go
  aws/ec2meta.go
  aws/ec2meta_test.go
  aws/testutils.go
  gomplate_test.go
Labels: enhancement
