Repository hairyhenderson/gomplate, pull requests merged in 2022-02, with the labels that each got.

#1296 aws+sm datasource - support reading from SecretBinary when SecretString is not set
  data/datasource_aws_sm.go
  data/datasource_aws_sm_test.go
  docs/content/datasources.md
Labels: bug, documentation

#1287 Add function to list datasources
  data/datasource.go
  data/datasource_test.go
  docs-src/content/functions/data.yml
  docs/content/functions/data.md
  funcs/data.go
Labels: documentation

#1300 Add example of how to use Time.IsDST
  docs-src/content/functions/time.yml
  docs/content/functions/time.md
Labels: documentation

#1301 conv.URL - add example of how to redact the password
  docs-src/content/functions/conv.yml
  docs/content/functions/conv.md
Labels: documentation

#1305 New crypto.EncryptAES/DecryptAES functions
  crypto/aes.go
  crypto/aes_test.go
  docs-src/content/functions/crypto.yml
  docs/content/functions/crypto.md
  funcs/crypto.go
  funcs/crypto_test.go
Labels: documentation, new function

#1306 New crypto.SHA*Bytes functions
  docs-src/content/functions/crypto.yml
  docs/content/functions/crypto.md
  funcs/crypto.go
Labels: documentation, new function

#1309 Updating install docs
  docs/content/installing.md
Labels: documentation

#1312 Clarify plugin documentation re: stdin
  docs/content/usage.md
Labels: documentation

#1313 docs: Add MacPorts installation instructions
  docs/content/installing.md
Labels: documentation

#1321 Build with Go 1.18rc1
  .github/workflows/build.yml
  Makefile
Labels: build

#1317 Support piping input to plugin
  docs/content/config.md
  docs/content/usage.md
  internal/config/configfile.go
  internal/config/configfile_test.go
  internal/tests/integration/config_test.go
  internal/tests/integration/plugins_test.go
  plugins.go
  plugins_test.go
Labels: enhancement, documentation
