Repository hairyhenderson/gomplate, pull requests merged in 2022-04, with the labels that each got.

#1365 Removing some panics from tests
  .github/workflows/build.yml
  funcs/math_test.go
  gomplate_test.go
  internal/tests/integration/config_test.go
  internal/tests/integration/datasources_consul_test.go
  internal/tests/integration/datasources_git_test.go
  internal/tests/integration/datasources_vault_test.go
  internal/tests/integration/integration_test.go
Labels: build

#1364 New tmpl.Path/tmpl.PathDir functions
  docs-src/content/functions/tmpl.yml
  docs/content/functions/tmpl.md
  internal/tests/integration/tmpl_test.go
  template.go
  tmpl/tmpl.go
  tmpl/tmpl_test.go
Labels: documentation

#1382 Fix GHA workflow triggers
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/image-scan.yml
  .github/workflows/label.yml
Labels: build

#1350 Fix merging context/datasources config
  internal/config/configfile.go
  internal/config/configfile_test.go
Labels: bug
