Repository hairyhenderson/gomplate, pull requests merged in 2023-02, with the labels that each got.

#1616 Remove uses of pkg/errors
  coll/jsonpath.go
  conv/conv.go
  crypto/pbkdf2.go
  data/data.go
  data/data_test.go
  data/datasource.go
  data/datasource_awssmp.go
  data/datasource_blob.go
  data/datasource_file.go
  data/datasource_http.go
  data/datasource_merge.go
  data/datasource_stdin.go
  data/datasource_vault.go
  file/file.go
  funcs/coll.go
  funcs/crypto.go
  funcs/random.go
  funcs/regexp.go
  funcs/strings.go
  funcs/test.go
  go.mod
  gomplate.go
  internal/config/configfile.go
  internal/conv/conv.go
  internal/tests/integration/datasources_vault_test.go
  test/test.go
  tmpl/tmpl.go
  vault/auth.go
  vault/vault.go
Labels: dependencies

#1622 Fix minor typo: Pic -> Pick
  docs-src/content/functions/coll.yml
Labels: documentation

#1639 Patch for unrelated CVEs
  .github/workflows/build.yml
  go.mod
  go.sum
  internal/tests/integration/datasources_vault_test.go
Labels: security, dependencies

#1641 Bump 3.11.x to Go 1.20 and Alpine 3.17
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: dependencies, build

#1588 Clarify documentation to highlight the differences between 'index' and '.'
  docs/content/syntax.md
Labels: documentation

#1643 Fix file descriptor leak
  internal/tests/integration/inputdir_unix_test.go
  render.go
Labels: bug

#1644 CI updates
  .github/workflows/build.yml
  .github/workflows/lint.yml
  internal/tests/integration/datasources_vault_test.go
Labels: build
