Repository hairyhenderson/gomplate, pull requests merged in 2023-09, with the labels that each got.

#1832 updates for Go 1.21
  Dockerfile
  Dockerfile.integration
  data/data_test.go
  funcs/aws_test.go
  funcs/base64_test.go
  funcs/coll_test.go
  funcs/conv_test.go
  funcs/crypto_test.go
  funcs/data_test.go
  funcs/env_test.go
  funcs/file_test.go
  funcs/filepath_test.go
  funcs/gcp_test.go
  funcs/math_test.go
  funcs/net_test.go
  funcs/path_test.go
  funcs/random_test.go
  funcs/regexp_test.go
  funcs/sockaddr_test.go
  funcs/strings_test.go
  funcs/test_test.go
  funcs/time_test.go
  funcs/uuid_test.go
  go.mod
  go.sum
Labels: dependencies

#1850 docs: Fix broken link
  docs/content/functions/_index.md
Labels: bug, documentation

#1828 build: bump `github.com/Masterminds/semver` to `github.com/Masterminds/semver/v3`
  go.mod
  go.sum
  version/gen/vgen.go
  version/gen/vgen_test.go
Labels: dependencies

#1837 Add support for Linux s390x
  Makefile
Labels: build
