Repository hairyhenderson/gomplate, pull requests merged in 2023-04, with the labels that each got.

#1694 Add stale action
  .github/workflows/stale.yml
Labels: build

#1698 New plugin args option
  Dockerfile
  docs/content/config.md
  internal/config/configfile.go
  internal/config/configfile_test.go
  internal/tests/integration/plugins_test.go
  plugins.go
  plugins_test.go
Labels: enhancement, documentation, api/minor

#1700 :gift: Add tea.xyz package manager :tea:
  docs/content/installing.md
Labels: documentation

#1714 Clarified documentation of data.CSVBy* functions
  data/data.go
  docs-src/content/functions/data.yml
  docs/content/functions/data.md
Labels: documentation

#1642 replace afero module
  Makefile
  data/datasource.go
  data/datasource_file.go
  data/datasource_file_test.go
  data/datasource_git.go
  data/datasource_git_test.go
  data/datasource_merge.go
  data/datasource_merge_test.go
  data/datasource_test.go
  env/env.go
  env/env_test.go
  file/file.go
  file/file_test.go
  funcs/file.go
  funcs/file_test.go
  go.mod
  go.sum
  internal/cmd/config.go
  internal/cmd/config_test.go
  internal/cmd/main.go
  internal/config/configfile.go
  internal/config/configfile_test.go
  internal/config/types.go
  internal/datafs/fsys.go
  internal/datafs/fsys_test.go
  internal/datafs/wdfs.go
  internal/datafs/wdfs_test.go
  internal/iohelpers/writers.go
  internal/iohelpers/writers_test.go
  internal/tests/integration/basic_test.go
  internal/tests/integration/config_test.go
  internal/tests/integration/gomplateignore_test.go
  internal/tests/integration/integration_test.go
  render_test.go
  template.go
  template_test.go
  template_unix_test.go
  template_windows_test.go
Labels: dependencies
