Repository hairyhenderson/gomplate, pull requests merged in 2023-11, with the labels that each got.

#1908 Workaround for CVE-2023-5363
  .github/workflows/docker.yml
  Dockerfile
Labels: security, build

#1909 backport: Add support for Linux s390x
  Makefile
Labels: build

#1916 Fix git+file bug with non-current windows drives
  Makefile
  go.mod
  go.sum
  internal/tests/integration/datasources_git_test.go
Labels: bug, dependencies, build

#1915 Fix the wdFS behaviour due to Go 1.21.4's changes to IsAbs
  .github/workflows/build.yml
  data/datasource_git.go
  internal/datafs/fsys.go
  internal/datafs/wdfs.go
  internal/datafs/wdfs_test.go
  internal/tests/integration/datasources_git_test.go
  template.go
Labels: bug

#1918 Clarify config parsing errors
  internal/cmd/config.go
  internal/config/configfile.go
  internal/tests/integration/config_test.go
Labels: bug

#1829 feat(funcs): add semver functions
  docs-src/content/functions/semver.yml
  docs/content/functions/semver.md
  funcs.go
  funcs/semver.go
  funcs/semver_test.go
Labels: dependencies, api/minor, new function
