Repository hairyhenderson/gomplate, pull requests merged in 2023-10, with the labels that each got.

#1866 document the workaround for Vault KV secrets engine - version 2
  docs/content/datasources.md
Labels: documentation

#1885 docs: format user template in hello example
  docs/content/usage.md
Labels: documentation

#1888 Fix broken test
  .github/workflows/lint.yml
  .golangci.yml
  render_test.go
Labels: build

#1873 Explain that `index` supports nested keys
  docs/content/syntax.md
Labels: documentation

#1851 Remove defers from main() to stop suppressing panics
  cmd/gomplate/main.go
Labels: bug

#1868 docs: List release versions for each function, add unreleased label
  .gitignore
  docs-src/content/functions/aws.yml
  docs-src/content/functions/base64.yml
  docs-src/content/functions/coll.yml
  docs-src/content/functions/conv.yml
  docs-src/content/functions/crypto.yml
  docs-src/content/functions/data.yml
  docs-src/content/functions/env.yml
  docs-src/content/functions/file.yml
  docs-src/content/functions/filepath.yml
  docs-src/content/functions/func_doc.md.tmpl
  docs-src/content/functions/gcp.yml
  docs-src/content/functions/math.yml
  docs-src/content/functions/net.yml
  docs-src/content/functions/path.yml
  docs-src/content/functions/random.yml
  docs-src/content/functions/regexp.yml
  docs-src/content/functions/sockaddr.yml
  docs-src/content/functions/strings.yml
  docs-src/content/functions/test.yml
  docs-src/content/functions/time.yml
  docs-src/content/functions/tmpl.yml
  docs-src/content/functions/uuid.yml
  docs/content/_index.md
  docs/content/functions/aws.md
  docs/content/functions/base64.md
  docs/content/functions/coll.md
  docs/content/functions/conv.md
  docs/content/functions/crypto.md
  docs/content/functions/data.md
  docs/content/functions/env.md
  docs/content/functions/file.md
  docs/content/functions/filepath.md
  docs/content/functions/gcp.md
  docs/content/functions/math.md
  docs/content/functions/net.md
  docs/content/functions/path.md
  docs/content/functions/random.md
  docs/content/functions/regexp.md
  docs/content/functions/sockaddr.md
  docs/content/functions/strings.md
  docs/content/functions/test.md
  docs/content/functions/time.md
  docs/content/functions/tmpl.md
  docs/content/functions/uuid.md
Labels: documentation

#1781 Initial basic support for CUE
  data/data.go
  data/data_test.go
  data/datasource.go
  data/mimetypes.go
  docs-src/content/functions/data.yml
  funcs/data.go
  go.mod
  go.sum
  internal/tests/integration/datasources_file_test.go
Labels: documentation, dependencies, api/minor
